{% extends "base.html" %}

{% block content %}

<h1>{{ course.name }}</h1>

{% for t in course.teacher_set.all %}
  <h2>{{ t.full_name }}</h2>
{% endfor %}
<h4>{{ course.feedback_given_in.school.name }}</h4>
<h4>{{ course.feedback_given_in.survey.name }} - {{ course.feedback_given_in.month }}, {{ course.feedback_given_in.year }}</h4>

<h2>Overall Information</h2>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <table class="table table-striped">      
      <tr>
        <td>Number of Responses</td>
        <td>{{ course.student_count }}</td>
      </tr>
      <tr>
        <td>Classroom Size</td>
        <td>{{ course.classroom_size }}</td>
      </tr>
      <tr>
        <td>Response Rate</td>
        <td>{{ course.rr_string }}</td>
      </tr>
    </table>    
  </div>
</div>

{% if course.student_count > 0 %}

  <h2>Course Ratings</h2>
  {% include "results.html" with group=course factors=course.feedback_given_in.survey.summarymeasure_set.all %}

{% endif %}

{{ test }}

<p><a href="{{ course.feedback_given_in.get_absolute_url }}">Back to {{ course.feedback_given_in.school.name }} ({{ course.feedback_given_in.month }}, {{ course.feedback_given_in.year }})</a></p>
{% endblock %}