{% extends "base.html" %}

{% block content %}

<h1>Data Combo Helper</h1>


<h2>YouthTruth By The Number...</h2>
<table class="table table-striped">
  <tr>
    <th>Survey Name</th>
    <th>Number of Schools</th>
  </tr>
  
  {% for survey in all_surveys %}
  <tr class="school">
    <td>{{ survey.name }}</td>
    <td>{{ survey.school_count }}</td>
  </tr>
  {% endfor %}
</table>

<h2>Or you might want to...</h2>
<ul class="list-inline">
  <li><a href="{% url "upload" %}" class="btn btn-large btn-primary">Upload CSV to a Survey</a></li>
  <li><a href="{% url "surveys-list" %}" class="btn btn-large btn-default">Browse the list of surveys</a></li>
  <li><a href="{% url "schools-list" %}" class="btn btn-large btn-default">Browse the list of schools</a></li>
  <li><a href="{% url "variables-list" %}" class="btn btn-large btn-default">Browse the list of variables</a></li>
</ul>

{% endblock %}