{% extends "base.html" %}

{% block content %}

<h1>Data Combo Helper</h1>


<h2>YouthTruth By The Number...</h2>
<table class="table table-striped">
  <tr>
    <th>Survey Name</th>
    <th>Number of Schools</th>
  </tr>
  
  {% for survey in all_surveys %}
  <tr class="school">
    <td>{{ survey.name }}</td>
    <td>{{ survey.school_count }}</td>
  </tr>
  {% endfor %}
</table>

<h2>Data Exchange</h2>
<ul class="list-inline">
  <li><a href="{% url "upload" %}" class="btn btn-large btn-primary"><i class="icon-upload"> </i>Upload CSV to a Survey</a></li>
  <li><a href="{% url "sessions-list" %}" class="btn btn-large btn-default"><i class="icon-th-list"> </i>Manage Import Sessions</a></li>
  <li><a href="" class="btn btn-large btn-default" disabled="disabled"><i class="icon-download-alt"> </i>Export Comparative Data</a></li>
  <li><a href="" class="btn btn-large btn-default" disabled="disabled"><i class="icon-file"> </i>Generate JSON File</a></li>
</ul>

<h2>Data Management</h2>
<ul class="list-inline">
  <li><a href="{% url "schools-list" %}" class="btn btn-large btn-default">Manage Schools</a></li>
  <li><a href="{% url "variables-list" %}" class="btn btn-large btn-default">Manage Survey Variables</a></li>
</ul>

{% endblock %}