{% extends "base.html" %}

{% block content %}

<h1>Upload Sessions</h1>

<table class="table table-striped">
  <tr>
    <th>Session Title</th>
    <th>Number of Schools Imported</th>
    <th>Number of Participations Recorded</th>
    <th>Uploaded On</th>
    <th>Action</th>
  </tr>
  
  {% for session in object_list %}
  <tr class="session">
    <td>{{ session.title }}</td>
    <td>{{ session.school_count }}</td>
    <td>{{ session.pr_count }}</td>
    <td>{{ session.date_created }}</td>
    <td>
      <a href="{% url "sessions-edit" pk=session.id %}" class="btn btn-default">Edit</a>
      <a href="{% url "sessions-delete" pk=session.id %}" class="btn btn-danger">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>

<a href="{% url "upload" %}">Upload a new CSV file</a>
{% endblock %}