{% extends "base.html" %}

{% block content %}

<h1>Delete Record</h1>

<p>Are you sure you want to delete this course?</p>

<h2>{{ course.name }}</h2>

<h3>{{ course.feedback_given_in.school.name }}</h3>
<h3>{{ course.feedback_given_in.survey.name }} - {{ course.feedback_given_in.month }}, {{ course.feedback_given_in.year }}</h3>

<form action="{% url "courses-delete" pk=course.id %}" method="POST">
  {% csrf_token %}
  <button type="submit" class="btn btn-large btn-danger">Yes, delete.</button>
  <a href="{% url "schoolparticipations-view" pk=course.feedback_given_in.id %}" class="btn btn-large btn-success">No, cancel.</a>
</form>

{% endblock %}