{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h1 class="text-center">Data Cleaning</h1>
    <p>Cleaning data for: <strong>{{ survey }}</strong></p>
    {% if survey.is_teacher_feedback %}
      <h2>Courses Below Cutoff</h2>
      <p>The following courses have either fewer than 5 student responses or response rate below 60%. These courses and their recorded responses should be deleted from the database.</p>

      <p>You can choose to delete each course individually, or click on "Clean All Data" at the bottom to delete all these courses from the database. Please note that you <strong>can't undo this.</strong></p>

      <table class="table table-striped">
        <tr>
          <th>Course Name</th>
          <th>Teacher Name</th>
          <th>School</th>
          <th>Responses Count</th>
          <th>Classroom Size</th>
          <th>Response Rate</th>
          <th>Action</th>
        </tr>
        {% for c in survey.courses_below_cutoff %}
          {% for t in c.teacher_set.all %}
            <tr>
              <td><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></td>
              <td>{{ t.full_name }}</td>
              <td>{{ t.feedback_given_in.school.abbrev_name }}</td>
              <td>{{ c.student_count }}</td>
              <td>{{ c.classroom_size }}</td>
              <td>{{ c.rr_string }}</td>
              <td>
                <a href="{% url "courses-edit" pk=c.id %}" class="btn btn-default">Edit</a>
                <a href="{% url "courses-delete" pk=c.id %}" class="btn btn-danger">Delete</a>
              </td>
            </tr>          
          {% endfor %}
        {% endfor %}
      </table>

    {% endif %}
  </div>
</div>
<div class="row">
  <div class ="col-lg-4 col-lg-offset-4">
    <p>
        <button type="submit" class="btn btn-lg btn-block btn-primary">Clean All Data</button>
    </p>
  </div>
</div>
<div class="row">
  <p class="text-center"><a href="{% url "home-view" %}">back to home</a></p>
</div>
{% endblock %}