{% extends "base.html" %}

{% block content %}

<h1>All Schools</h1>


<table class="table table-striped">
  <tr>
    <th>School Name</th>
    <th>Abbrev.</th>
    <th>Alpha Code</th>
    <th>Times Participated in YT</th>
    <th>Action</th>
  </tr>
  
  {% for school in object_list %}
  <tr class="school">
    <td><a href="{{ school.get_absolute_url }}">{{ school.name }}</a></td>
    <td>{{ school.abbrev_name }}</td>
    <td>{{ school.alpha }}</td>
    <td>{{ school.repeat_count }}</td>
    <td>
      <a href="{% url "schools-edit" pk=school.id %}" class="btn btn-default">Edit</a>
      <a href="{% url "schools-delete" pk=school.id %}" class="btn btn-danger">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>

<p>Schools can only be added via importing Qualtrics survey panel. If you need to add more schools, go back to home page, pick a survey and import a panel.</p>

<a href="{% url "home-view" %}">Back to home</a>
{% endblock %}