{% extends "base.html" %}

{% block content %}

<h1>{{ school }}</h1>

<p>Below are the participation records of this school in YouthTruth. Please click on each link for more detailed information about the school's participation history.</p>

<h2>Participation Records</h2>
<table class="table table-striped">
  <tr>
    <th class="col-lg-2">Survey Period</th>
    <th class="col-lg-3">Survey Title</th>
    <th class="col-lg-2">Legacy School Short</th>
    <th>No. of Student Responses</th>
    <th>No. of Teachers With Feedback</th>
    <th class="col-lg-1">Action</th>
  </tr>
  
  {% for p in school.schoolparticipation_set.all %}
  <tr>
    <td><a href="{{ p.get_absolute_url }}">{{ p.date_participated }}</a></td>
    <td>{{ p.survey.name }}</td>
    <td>{{ p.legacy_school_short }}</td>
    <td>{{ p.student_count }}</td>
    <td>{{ p.teacher_count }}</td>
    <td>
      <a href="{% url "schoolparticipations-edit" pk=p.id %}" class="btn btn-default btn-xs"><i class="icon-edit icon-large"></i></a>
      <a href="{% url "schoolparticipations-delete" pk=p.id %}" class="btn btn-danger btn-xs"><i class="icon-trash icon-large"></i></a>
    </td>
  </tr>
  {% endfor %}
</table>

<p>Are there missing records? You can add another record manually for this school here.</p>

<p><a href="{% url "schoolparticipations-new" pk=school.id %}">Add a new record</a></p>

<p><a href="{% url "home-view" %}">Back to home</a></p>
{% endblock %}